tamanho#cntrlp2 h1{
    font-size: 35px;
}

#cntrlp1 h1{
    font-size: 35px;
}

ul li{
    width: 800px;
}

.valores{
    width: 210px;
}
main img{
  width:20px;
  height:20px;
}
.resp{
    margin-right: 8px;
    margin-top: -37.5px;
    width: 80px;
    float: right;
    font-size: 25px;
    text-align: right;
}

.tamanho{
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 4px;
    border: 4px solid lightgrey;
    border-radius: 20px;
    border-collapse: collapse;
    width: 340px;
    height: 40px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 1000px;

}

header {
    width: 100%;
    height: 200px;
}

html {
    background: linear-gradient(to bottom, #2E8B57, greenyellow) no-repeat;
}

header nav ul li span:hover {
    color: greenyellow;
}

.container {
    width: 970px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}

header>.container {
    width: 600px;
}

header>div>div> img:nth-child(4) {
    width: 90px;
    position: relative;
    top: -14px;
    margin-bottom: -30px;
}

#lado1 {
    width: 50%;
    float: left;
}

#lado2 {
    text-align: right;
    width: 50%;
    float: left;
}

#lado3 {
    width: 50%;
    float: left;
}

#lado4 {
    width: 50%;
    float: left;
    text-align: right;
}

.logo {
    width: 570px;
    height: 165px;
    margin-top: 20px;
    float: left;
}

.logo img:nth-child(4) {
    margin-left: 37px;
}

#titulo {
    height: 165px;
    margin-top: 20px;
}

#titulo>img {
    position: relative;
    left: 130px;
    opacity: 1;
    margin-top: -190px;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

html>body {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, #2E8B57, #2E8B57, #2E8B57, #2E8B57, #2E8B57,  #2E8B57, #2E8B57,#2E8B57,  #555) no-repeat;
     box-shadow: 0px 0px 1em black;
    -webkit-box-shadow: 0px 0px 1em black;
    -moz-box-shadow: 0px 0px 1em black;

}

body {
    width: 950px;
     background: #555;
}


/*----------------------------MENU-----------------------------------------------------------------------*/

#area {}


/*----------------------BODY-----------------------------------*/

#controle {
    width: 900px;
    height: 650px;
    padding-top: 30px;
    margin-top: 80px;

    margin-right: auto;
    margin-left: auto;
    border-radius: 40px;
    padding: 40px;
    border: 10px solid white;
}


/*----------------------------Galeria-----------------------------------------------------------------------*/

.frame {
    display: flex;
    width: 800px;
    text-align: center;
    height: 40px;
    color: white;
    font-size: 40px;
    line-height: 40px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

ul {
    list-style: none;
    padding-left: 10px;
    animation: trocar 10s infinite;
    animation-delay: 3s;
}

ul,
p {
    margin: 0;
}

@keyframes trocar {
    0% {
        margin-top: 0;
    }
    20% {
        margin-top: 0;
    }
    25% {
        margin-top: -40px;
    }
    50% {
        margin-top: -40px;
    }
    55% {
        margin-top: -80px;
    }
    80% {
        margin-top: -80px;
    }
    85% {
        margin-top: -40px;
    }
    95% {
        margin-top: -40px;
    }
    100% {
        margin-top: 0;
    }
}


/*-------------------------------*/


/*--------------------------SWITch-----------*/

div.control-panel-frm {
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 40px;
}

div.control-panel-frm h3 {
    width: 130px;
    margin-top: 7px;
    float: left;
}

input.s3d {
    clear: both;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    display: inline-block !important;
    font: 700 13px/36px 'Arial', Helvetica, Clean, sans-serif;
    margin-left: 20px;
    width: 50px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .35);
}

input.switchoff {
    background: #eb5a5f;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#eb5a5f), to(#e13c41));
    background: -moz-linear-gradient(#eb5a5f, #e13c41);
    background: linear-gradient(#eb5a5f, #e13c41);
    border: 0;
    color: rgba(69, 22, 24, 1);
}

input.switchoff:active {
    background: #e13c41;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#e13c41), to(#eb5a5f));
    background: -moz-linear-gradient(#e13c41, #eb5a5f);
    background: linear-gradient(#e13c41, #eb5a5f);
}

input.turnOn {
    background: #58853e;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#00CC00), to(#00FF33));
    background: -moz-linear-gradient(#00CC00, #00FF33);
    background: linear-gradient(#00CC00, #00FF33);
    border: 0;
    color: rgba(22, 33, 16, 1);
}

input.turnOn:active {
    background: #3c592a;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#3c592a), to(#58853e));
    background: -moz-linear-gradient(#3c592a, #58853e);
    background: linear-gradient(#3c592a, #58853e);
}


/*---------------BOTOESLADODIREITO-----------------*/

#cntrlp1 {
    width: 350px;
    height: 450px;
    background: white;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 1em black;
    -webkit-box-shadow: 0px 0px 1em black;
    -moz-box-shadow: 0px 0px 1em black;
    float: left;
}

#cntrlp1>h1 {
    width: 154px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

.botao {
    width: 60px;
    font-size: 25px;
}

label {
    height: 28px;
}

.onoffswitch,
.onoffswitch2,
.onoffswitch3,
.onoffswitch4 {
    height: 28px;
    margin-left: 70px;
    margin-top: 5px;
}

#material {
    width: 200px;
    height: 32px;
    display: inline-flex;
    margin-left: 80px;
    margin-top: 10px;
}

#material2 {
    width: 200px;
    height: 32px;
    display: inline-flex;
    margin-left: 60px;
    margin-top: 10px;
}

#material3 {
    width: 200px;
    height: 32px;
    display: inline-flex;
    margin-left: 60px;
    margin-top: 10px;
}

#material4 {
    width: 200px;
    height: 32px;
    display: inline-flex;
    margin-left: 60px;
    margin-top: 10px;
}


/*-------BOTOESLADOESQUERDO----------*/

#cntrlp2 {
    width: 350px;
    height: 450px;
    position: relative;

    background: white;
    margin-left: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 1em black;
    -webkit-box-shadow: 0px 0px 1em black;
    -moz-box-shadow: 0px 0px 1em black;
}

#principalH1{
    width: 154px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 0px;
}

.valores {
    width: 200px;
    font-size: 25px;
    margin-left: 8px;
}


/*-----*/

.body {
    width: 100%;
    text-align: center;
}

.body span {
    font-size: 25px;
}

body a:nth-child(2),
body a:first-child {
    width: 250px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    background-color: aliceblue;
    color: #777;
}

body a:first-child {
    margin-right: 200px;
}

body a {
    width: 150px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 15px 20px;
    box-shadow: 0 2px 3px #777;
    border: 2px solid #fff;
    border-radius: 5px;
}

body a:hover {
    background-color: #fff;
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 3px #777;
}
